@model IEnumerable<GrupoBJ.Models.Articulos_Campos>


@if (Model.Count() > 0)
{

    @foreach (var item in Model)
    {
        <tr>
            <td hidden>@Html.DisplayFor(m => item.idArticulos_Campos)</td>
            <td>@Html.DisplayFor(m => item.Nombre_Articulo_Campos)</td>           
            <td>@Html.DisplayFor(m => item.fkUsuarioCr)</td>
            <td>@Html.DisplayFor(m => item.fechaCr)</td>
            <td>@Html.DisplayFor(m => item.fkUsuarioUm)</td>
            <td>@Html.DisplayFor(m => item.fechaUm)</td>

        </tr>
    }
   
}
else
{
    <br />
    <p>No hay registros</p>
}

